.payment-card {

    background: #181818;

    border: 1px solid #2d2d2d;

    border-radius: 14px;

    padding: 24px;

    color: white;

}

.movie-card {

    display: flex;

    gap: 24px;

    align-items: flex-start;

}

.movie-poster {

    width: 120px;

    height: 170px;

    border-radius: 10px;

    object-fit: cover;

}

.movie-info {

    flex: 1;

    display: flex;

    flex-direction: column;

    gap: 16px;

}

.movie-info h2 {

    margin: 0;

    font-size: 28px;

    font-weight: 700;

}

.movie-detail {

    display: flex;

    gap: 10px;

    align-items: center;

}

.label {

    width: 90px;

    color: #888;

    font-weight: 600;

}

.seat-list {

    display: flex;

    gap: 8px;

    flex-wrap: wrap;

}

.seat-tag {

    padding: 6px 12px;

    background: #ef233c;

    border-radius: 999px;

    font-weight: 600;

}
.payment-qr-card{
    width:360px;
    margin:auto;
    background:#171717;
    border:1px solid rgba(255,255,255,.08);
    border-radius:22px;
    padding:28px;
    text-align:center;
    color:white;
}

.payment-qr-title{
    font-size:26px;
    font-weight:700;
    margin-bottom:8px;
}

.payment-qr-subtitle{
    color:#bdbdbd;
    margin-bottom:24px;
}

.payment-qr-image{
    width:270px;
    height:270px;
    margin:auto;
    background:white;
    border-radius:18px;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.payment-qr-image img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.payment-price{
    margin-top:22px;
    font-size:34px;
    font-weight:700;
}

.payment-countdown{

    margin-top:16px;

    font-size:26px;

    font-weight:700;

    color:#FFD54F;

}

.payment-status{

    margin-top:18px;

    color:#8BC34A;

    font-size:16px;

}

.payment-status.expired{

    color:#F44336;

}

.payment-open-btn{

    display:block;

    margin-top:25px;

    padding:14px;

    background:#d71920;

    color:white;

    border-radius:12px;

    text-decoration:none;

    font-weight:700;

    transition:.3s;

}

.payment-open-btn:hover{

    background:#f32b32;

}

.payment-qr-placeholder{

    color:#666;

}
.checkin-page{
    padding:40px;
    color:#fff;
    text-align:center;
}

.camera-box{
    width:420px;
    height:420px;
    margin:20px auto;
    border:2px solid #d71920;
    border-radius:16px;
    overflow:hidden;
    background:#111;
}

.scan-text{
    margin-top:16px;
    color:#aaa;
}

.qr-result{
    margin-top:20px;
    color:#22c55e;
    font-weight:700;
}